p {
    color: rgb(59, 59, 255);
    font-family: georgia;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: rgb(59, 59, 255);
    font-family: georgia;
    font-size: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(0, 240, 240);
}

.body-etusivu {
    margin: 0;
    padding-top: 80px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(0, 240, 240);
    background-image: url("https://i.ibb.co/stJXc9k/hyper-detailed-colorful-kittenish-leopard-pattern-with-lot-of-green-and-cyan-2099658500.png"); 
    background-position: center center; 
    background-size: 100% 100%; 
}
